@charset "utf-8";

@import "normalize-rails";

@import "selectize";
@import "datetime_picker";

@import "library/clearfix";
@import "library/data-label";
@import "library/variables";

@import "base/forms";
@import "base/layout";
@import "base/lists";
@import "base/tables";
@import "base/typography";

@import "components/app-container";
@import "components/attributes";
@import "components/buttons";
@import "components/cells";
@import "components/field-unit";
@import "components/flashes";
@import "components/form-actions";
@import "components/main-content";
@import "components/navigation";
@import "components/pagination";
@import "components/search";

@import "utilities/text-color";

.test {
  @include hide-visually();

  &:focus {
    @include hide-visually("unhide");
    @include position(absolute, 0 null null 0);
    font-size: 0.8em;
    padding: 0.5em;
    white-space: nowrap;
    z-index: 1;
  }
}
