$_flash-colors: (
  "alert": $yellow-50,
  "error": $red-50,
  "notice": $blue-50,
  "success": $green-50,
);

.flash {
  margin: 0 2rem 0.25rem;
  padding: 0.5rem;
}

@each $flash-type, $color in $_flash-colors {
  .flash--#{$flash-type} {
    background-color: $color;
    border: 1px solid saturate(mix($black, $color, 20%), 30%);
    border-radius: $base-border-radius;
    color: $base-font-color;
  }
}
